body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    transition: background-color 0.3s;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#password {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.length-container {
    margin-bottom: 10px;
}

#length {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#generate,
#copy {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate:hover,
#copy:hover {
    background-color: #0056b3;
}

.theme-toggle-container {
    margin-top: 20px;
}

.dark-mode-body {
    background-color: #333;
}

.dark-mode-container {
    background-color: #555;
    color: #fff;
}